html,
body {
  padding: 50px 20px;
  margin: 0;
  font-family: monospace;
  color: #79cd82;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
